.epaper-thumbnail-scroll {
  height: 80em;
  overflow: auto;
  width: 100%;
  overflow-x: hidden;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 25px !important;
  line-height: 1;
  opacity: 0.75;
  color: #165588 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.menu-epaper {
  height: 22em;
  overflow-x: hidden;
  overflow: auto;
}
.menu-epaper::-webkit-scrollbar {
  width: 0.5em !important;
}

.menu-epaper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(224, 200, 200, 0.3) !important;
}

.menu-epaper::-webkit-scrollbar-thumb {
  background-color: var(--main) !important;
  outline: 1px solid slategrey !important;
}
.slick-next:before {
  position: relative;
  right: 40px;
  background: #165588;
  padding: 20px 10px;
  color: white !important;
  border-radius: 5px;
}
.slick-prev{
  position: absolute !important;
  left: 0 !important;
  z-index: 1;
}
.slick-prev:before{
  position: relative;
  left: 0px;
  background: #165588;
  padding: 20px 10px;
  color: white !important;
  border-radius: 5px;
}
.epaper-thumbnail-scroll::-webkit-scrollbar {
  width: 0.5em !important;
}

.epaper-thumbnail-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(224, 200, 200, 0.3) !important;
}

.epaper-thumbnail-scroll::-webkit-scrollbar-thumb {
  background-color: var(--main) !important;
  outline: 1px solid slategrey !important;
}

.epaper-feature-box {
  background-color: var(--main);
  color: white;
}
.epaper-next {
  background-color: var(--main);
  border: 0px;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 0.5;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.epaper-next:hover {
  background-color: var(--secondary);
  border: 0px;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 0.5;
  box-shadow: none;
}
.epaper-all {
  height: 50rem;
  overflow: auto;
}

.epaper-sidebar-img img {
  padding: 5px;
  margin-top: 5px;
  background-color: var(--secondary);
  border: 1px dashed var(--secondary);
}
.epaper-sidebar-img img:hover {
  background-color: var(--main);
  border: 1px dashed var(--main);
}
.epaper-sidebar-title {
  color: #fff;
  margin-bottom: 5px;
  background-color: var(--secondary);
  border: 1px dashed var(--secondary);
}

.flex-column .slick-list {
  transform: none !important; /* Reset the transform applied for horizontal layout */
}

.slick-vertical .slick-slide.slick-current {
  background-color: red !important;
  color: white;
}
.slick-slide {
  background-color: transparent !important;
  color: black;
}
.no-data-epaper {
  height: 102vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
