.post-module {
    margin: 30px auto;
    position: relative;
  }
  
  /* .thumbnail img{
    height: 550px;
  } */
  .post-module:hover .thumbnail img {
    opacity: 0.6;
    transform: scale(1.1);
  }
  
  .thumbnail {
    height: 400px;
    position: relative;
    overflow: hidden;
    background: #000;
  }
  
  .thumbnail img {
    width: auto;
    transition: 0.3s;
  }
  
  .thumbnail .date {
    position: absolute;
    height: 56px;
    width: 56px;
    border-radius: 100%;
    background: var(--main);
    color: #fff;
    text-align: center;
    padding: 12px 0;
    top: 20px;
    right: 20px;
    z-index: 1;
  }
  
  .post-content {
    padding: 30px;
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;
  }
  
  .category {
    background: #e74c3c;
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateY(-100%);
  }
  
  .title {
    font-size: 24px;
    color: #333;
    font-weight: 700;
    padding-bottom: 10px;
  }
  
  .sub-title {
    color: #e74c3c;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
  }
  
  .description {
    line-height: 1.8;
    color: #666;
    font-size: 14px;
    display: none;
  }
  
  .post-module.hovered .description {
    display: block;
  }
  
  .post-meta {
    margin-top: 30px;
    color: #999;
  }
  
  .post-meta a {
    color: #999;
    text-decoration: none;
  }
  
  .post-meta *:before,
  .post-meta *:after {
    display: inline;
  }
  
  .comments {
    margin-left: 16px;
  }
  .day{
    margin-top: -8px;
  }