.social-author a {
  background-color: var(--main);
  margin-left: 0.625rem;
  border-radius: 50%;
  height: 0.625rem;
  width: 1.25rem;
    padding: 10px 13px 10px;
  font-size: 18px;
  text-align: center;
  color: var(--white);
  transition: 0.5s ease-in;
  text-align: center;
}
.social-author a:hover {
  background-color: var(--main);
  margin-left: 0.625rem;
  border-radius: 50%;
  height: 0.625rem;
  width: 1.25rem;
    padding: 10px 13px 10px;
  font-size: 18px;
  text-align: center;
  color: var(--secondary);
  transition: 0.5s ease-in;
}

.releted-news img:hover {
  transform: scale(1.05); /* Adjust the scale value for a smaller zoom effect */
  transition: transform 0.5s ease-in-out;
}
@media print {
  /* Add margins */
  #printThis {
    margin: 30px; /* Adjust the margin size as needed */
  }
}