abbr[title] {
  text-decoration: none !important;
}
.react-calendar-box {
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}
.react-calendar-box {
  box-shadow: none !important;
}
.react-calendar__navigation button {
  min-width: 30px;
  background: var(--secondary);
  color: white !important;
}
.react-calendar__navigation button:hover {
  min-width: 30px;
  background: var(--main) !important;
  color: white !important;
}

@media screen and (max-width: 575.98px) {
  .react-calendar-box {
    display: flex !important;
    justify-content: center !important;
    padding: 45px !important;
    padding-top: 10px !important;
  }
  .epaper-all{
    padding: 10px !important;
  }
}
