@keyframes ring-blink {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.is_video_icon {
  position: absolute;
  background: #f22228;
  color: #fff;
  text-align: center;
  padding: 3px 10px 3px;
  top: 50%;
  left: 50%;
  z-index: 1;
  font-size: 30px;
  border-radius: 100%;
  box-shadow: rgb(230, 8, 8) 0px 8px 30px;
  animation: ring-blink 2s infinite;
}

.video-side {
  position: absolute;
  background: var(--main);
  color: #fff;
  text-align: center;
  padding: 5px;
  width: 50px;
  height: 50px;
  right: 0;
  left: 11.5%;
  z-index: 1;
  margin-top: 2rem;
  font-size: 24px;
  border-radius: 100%;
  box-shadow: rgb(230, 8, 8) 0px 8px 30px;
  animation: ring-blink 2s infinite;
}

@keyframes ring-blink {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.vide-feature-title {
  background: #165588;
  padding: 10px;
  margin-top: -5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}
