@keyframes ring-blink {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.is_video_icon {
  position: absolute;
  background: #f22228;
  color: #fff;
  text-align: center;
  padding: 3px 10px 3px;
  top: 50%;
  left: 50%;
  z-index: 1;
  font-size: 30px;
  border-radius: 100%;
  box-shadow: rgb(230, 8, 8) 0px 8px 30px;
  animation: ring-blink 2s infinite;
}

.video-side {
  position: absolute;
  background: var(--main);
  color: #fff;
  text-align: center;
  padding: 5px;
  width: 50px;
  height: 50px;
  right: 0;
  left: 11.5%;
  z-index: 1;
  margin-top: 2rem;
  font-size: 24px;
  border-radius: 100%;
  box-shadow: rgb(230, 8, 8) 0px 8px 30px;
  animation: ring-blink 2s infinite;
}

@keyframes ring-blink {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.vide-feature-title {
  background: linear-gradient(45deg, var(--secondary), var(--main));
  padding: 10px;
  margin-top: -5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}

@media screen and (max-width: 575.98px) {
  .is_video_icon {
    position: absolute;
    background: #f22228;
    color: #fff;
    text-align: center;
    padding: 3px 10px 3px;
    top: 35%;
    left: auto;
    right: 45%;
    z-index: 1;
    font-size: 30px;
    border-radius: 100%;
    box-shadow: rgb(230, 8, 8) 0px 8px 30px;
    animation: ring-blink 2s infinite;
  }
  .vide-sidebar-cat {
    margin-top: 25px;
  }
  .vide-sidebar-cat img {
    width: 100% !important;
    height: 200px !important;
    padding-bottom: 10px;
  }
  .video-cat h5 {
    padding-left: 10px;
  }
  .video-cat div span p {
    padding-left: 10px;
  }
  .video-side {
    right: 0;
    top: 30%;
    left: 43%;
  }
}
