/* Font Style Linked */
@import url("https://fonts.maateen.me/solaiman-lipi/font.css");
/* Root Style */
:root {
  --main: #165588;
  --secondary: #dc2329;
  --white: white;
  --black: black;
  --red: red;
}
/* Body Style */
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "SolaimanLipi", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: "SolaimanLipi", sans-serif;
}
/* Scrool Bar Css */
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main);
  outline: 1px solid var(--main);
}
a {
  text-decoration: none !important;
}
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "SolaimanLipi", sans-serif;
}

.secondary-color {
  color: var(--secondary);
}
.main-color {
  color: var(--main);
}
