/* Font Style Linked */
@import url("https://fonts.maateen.me/solaiman-lipi/font.css");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
.policy-text {
  font-family: "Jost", sans-serif;
}
.english-font {
  font-family: "Jost", sans-serif !important;
}

/* Root Style */
:root {
  --main: #165588;
  --secondary: #dc2329;
  --white: white;
  --black: black;
  --red: red;
}
/* Body Style */
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "SolaimanLipi", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: "SolaimanLipi", sans-serif;
}
/* Scrool Bar Css */
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main);
  outline: 1px solid var(--main);
}
a {
  text-decoration: none !important;
}
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "SolaimanLipi", sans-serif;
  color: inherit;
}

.secondary-color {
  color: var(--secondary);
}
.main-color {
  color: var(--main);
}

.w-10 {
  width: 10% !important;
}
.w-30 {
  width: 30% !important;
}
.w-20 {
  width: 20% !important;
}
.form-control {
  outline: 0;
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: #eee !important;
  border-color: transparent !important;
  outline: 0 !important;
  box-shadow: none !important;
}
.form-select:focus {
  color: var(--bs-body-color);
  background-color: #eee !important;
  border-color: transparent !important;
  outline: 0 !important;
  box-shadow: none !important;
}
.border-devider {
  background: var(--secondary);
  width: 85px;
  display: flex;
  height: 3px;
  margin-bottom: 29px;
}