.post-header-box {
  border-top: 1px solid var(--main);
}

.post-header-title {
  text-align: left;
    padding-left: 18px;
    background: white;
    margin: auto;
    position: relative;
    top: -20px;
    font-size: 25px;
}
